.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    width: 62px;
}

.sidenav a {
    font-size: 15px;
    color: #818181;
    /* padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s; */
}

.sidenav em {
    font-size: 24px;
    color: grey;
}

.sidenav em:hover {
    color: white;
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

.sidenav a:hover {
    color: blue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav tr:hover {
    background: white;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav div:hover {
    background-color: white;
}

.sidenav div {
    text-align: center;
    height: 52px;
    padding: 11px;
}