.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(153, 153, 153);
    text-align: center;
    height: 18%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.boton {
    width: 187px;
    height: 37px;
    background-color: #e5e5e5;
    color: #ffffff;
    border: aliceblue;
}