<div class="SideMenu">
    <div class="container">
        <div class="titulo">
            Verificación de datos
            <hr>
        </div>
        <div class="DivCaja">
            <span class="subtitulo">Identificación asesor</span>
            <input type="text" class="CajaCaptura">
        </div>
        <div class="DivCaja">
            <span class="subtitulo">Contraseña</span>
            <input type="password" class="CajaCaptura">
        </div>
        <div class="DivBoton">
            <br>
            <br>
            <button class="BotonContinuar">Continuar</button>
        </div>
    </div>
</div>