<footer>

  <div class="footer">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-md-3"><button class="boton" type="button" data-toggle="modal" data-target="#crearModalEliminar">Eliminar
            pedido</button>
        </div>
        <div class="col-md-3"><button class="boton">Guardar y finalizar</button></div>
        <div class="col-md-3"><button class="boton">Crear nota pedido</button></div>
        <div class="col-md-3">
          <div>
            <div class="pull-left"><label class="total">Total</label></div>
            <div class="pull-left"><label class="flete">Precio flete</label></div>
            <hr>
            <div class="pull-left"><label class="precio">Precio a pagar</label></div>
          </div>

          <div>
            <div><label class="total">{{valorTotal | currency}}</label></div>
            <div><a class="fleteValor">Sin calcular</a></div>
            <div><a class="precioValor">{{precioPagar | currency}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>

<div class="EliminarModal">
  <div class="modal" id="crearModalEliminar">
    <div class="modal-dialog " role=" document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img src="assets/img/Modal/Eliminar.png"> 
        </div>   
        <div class="modal-body ">
        Esta operación eliminara todos los pedidos de la lista.
      </div>
      <div class="modal-footer">
        <button type="button" class="btnCancelar" data-dismiss="modal" >Cancelar</button>
        <button type="button" class="btnAceptar" id="limpiar" (click)="refresh()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
</div>