<div id="mySidenav" class="sidenav">
  <table>
    <tr><span><a (click)='manejoNav()'><em class="fa fa-reorder" title="Abrir o cerrar menu lateral"></em></a></span></tr>
    <tr>
      <span>
        <a routerLink="/" routerLinkActive="active">
          <em class="fa fa-file-text" title="Ir a la pagina principal">
          </em>
          {{Home}}
        </a>
      </span>
    </tr>
    <tr><span><a><em class="fa fa-users " title="Ir a consultar clientes"></em>{{consultaCliente}}</a></span></tr>
  </table>

</div>