<header id="header" class="header">
    <app-collapse-menu></app-collapse-menu>
  <nav class="navegador">
      
    <div class="container">
        
      <div class="row">
         
        <div class="pull-left col-md-8 offset-md-0">
          <span class="titulo" routerLink="/">
            SAPS
          </span>
        </div>

        <div class="pull-right col-md-2 offset-md-0 text-right">
          <img class="logohomecenter" src="assets/img/Logo_homecenter/Logo_homecenter.png">
        </div>
        <div class="pull-right col-md-2  offset-md-0 text-right">
          <img class="logoconstructor" src="assets/img/Logo_constructor/Logo_constructor.png">
        </div>

      </div>
    </div>
  </nav>
</header>