<header id="header" class="header">
  <app-collapse-menu></app-collapse-menu>
  <nav class="navegador">
    <div class="container">
      <div class="row">
        <div class="pull-left col-md-7 offset-md-0">
          <span class="titulo" routerLink="/">
            SAPS
          </span>
        </div>

        <div class="col-md-1">
          <span class="nombreAsesor" >{{nombreAsesor}}</span>
        </div>

        <div class="pull-right col-md-2 offset-md-0 text-right">
          <span class="logohomecenter"><img src="assets/img/Logo_homecenter/Logo_homecenter.png"></span>
        </div>

        <div class="pull-right col-md-2  offset-md-0 text-right">
          <span class="logoconstructor">
            <img src="assets/img/Logo_constructor/Logo_constructor.png"></span>
        </div>
      </div>
    </div>
  </nav>
</header>